<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>管理员列表</title>
    <script type="text/javascript">
        function view(mid){
	  window.open("/admin/moderator/view_permissions/?mid=" + mid, "permissions", "width=400,height=400,top=180,left=390");
}
    </script>
</head>
<body>
    <table width="100%" style="border:1px solid #ccc">
    <colgroup>
        <col align="center"/>
        <col align="center"/>
        <col align="right" />
        <col align="right" />
        <col align="right"/>
        <col />
        <col width="*"/>
    </colgroup>
    <tbody>
        <tr>
            <th>标识</th>
            <th>帐号</th>
            <th>邮箱</th>
            <th>最后登录IP</th>
            <th>最后登录时间</th>
            <th>权限</th>
            <th>操作</th>
        </tr>
         {% for moderator in moderator_list %}
         <tr>
            <td>
                {{ moderator.mid }}
            </td>
             <td>
                 {{ moderator.username }}
             </td>
             <td>
                 {{ moderator.email }}
             </td>
             <td>
                 {{ moderator.last_ip }}
             </td>
             <td>
                 {{ moderator.last_login|date:"Y-m-d H:i:s" }}
             </td>
             <td>
                 <a href='javascript:view({{ moderator.mid }})'>权限</a>
             </td>
             <td>
            {% if message%}
                <a href="/admin/moderator/manage_moderator/?mid={{ moderator.mid }}">管理(等待审核)</a>&nbsp;
            {% else %}
                <a href="/admin/moderator/manage_moderator/?mid={{ moderator.mid }}">管理</a>&nbsp;
            {% endif %}
                <a href="/admin/moderator/delete_moderator/?mid={{ moderator.mid }}">删除</a>
             </td>
         </tr>
         {% endfor %}
    </tbody>
    </table>
<p>
    <a href="/admin/moderator/add_moderator/">增加管理员</a>
</p>
</body>
</html>